@import "default";
@import "mixin";
//scss 에서 함수 만들어 쓰는 방법
//longshadow(40,rgba(0,0,0,1))

body {
  height: 100vh;
  background-color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  .dont {
    @include longShadow(700, #006ccb);
  }
  .slogan {
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 2vw;
    .stop {
      font-size: 15vw;
      font-weight: 900;
      line-height: 1;
      letter-spacing: -20px;
      span:nth-child(1) {
        @include longShadow(700, #ff1d1d);
      }
      span:nth-child(2) {
        @include longShadow(700, #ff8615);
      }
      span:nth-child(3) {
        @include longShadow(700, #00eb14);
      }
      span:nth-child(4) {
        @include longShadow(700, #008bc6);
      }
    }
    .programming {
      text-align: right;
      font-weight: 900;
    }
  }
}
.programmer {
  width: 200px;
  position: fixed;
  right: 00px;
  bottom: 00px;
}
button {
  $bgColor: rgb(15, 187, 244);
  border: none;
  padding: 15px 50px;
  font-size: 18px;
  border-radius: 100px;
  background-color: $bgColor;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  overflow: hidden;
  @include longShadow(40, darken($bgColor, 10));
  transition: all 0.25s ease;
  &:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  }
}
