@import "default";
@import "mixin";

body {
  background-color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-wrap {
  width: 800px;
  background-image: url("../images/bg02.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: end;
}
.signup {
  display: flex;
  flex-direction: column;
  background-color: rgba(221, 221, 221, 0.5);
  backdrop-filter: blur(3px);
  padding: 30px 20px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  // width: 340px;
  // height: 500px;
  align-items: center;

  h2 {
    font-size: 36px;
    font-weight: 300;
    text-transform: capitalize;
    margin-bottom: 40px;
  }
  div {
    margin: 5px 0;
    position: relative;
    &::before {
      @include pseudoIcon(attr(data-icon));
      font-size: 28px;
      display: block;
      color: #ffd728;
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
    input {
      border: none;
      outline: none;
      font-size: 18px;
      padding: 15px 15px 15px 60px;
      font-weight: 600;
      background-color: #fff;
      color: #111;
      border-radius: 3px;
      display: block;
      width: 100%;
      box-sizing: border-box; //padding + border 포함해서 넓이 잡아준다.
      &:focus::placeholder {
        opacity: 0;
      }
      &::placeholder {
        color: #111;
        font-weight: 300;
        opacity: 0.75;
        text-transform: lowercase;
        transition: all 0.25s ease;
      }
    }
  }
  button {
    $bgColor: #0dcdfd;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background-color: $bgColor;
    color: #fff;
    padding: 15px;
    font-weight: 700;
    font-size: 15px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;

    @include longShadow(40, darken($bgColor, 10));
    cursor: pointer;
    &:active {
      background-color: darken($bgColor, 20);
      @include longShadow(40, darken($bgColor, 25));
    }
  }
  .info {
    font-size: 14px;
    margin-top: 30px;
    a {
      color: #0dcdfd;
    }
  }
  .sns {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    font-size: 24px;
  }
}
