@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Noto Sans KR", "돋움", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 999;
}
header h1 {
  position: absolute;
  left: 0;
}
header h1 a {
  display: flex;
  height: 80px;
  align-items: center;
}
header nav > ul {
  display: flex;
}
header nav > ul li {
  position: relative;
}
header nav > ul li:hover .depth02 {
  display: block;
  background-color: #fff;
  border-radius: 5px;
  color: #333;
  transform: translateY(0);
  opacity: 1;
}
header nav > ul li .depth01 {
  display: flex;
  height: 80px;
  align-items: center;
  padding: 0 30px;
  font-weight: 600;
  font-size: 18px;
}
header nav > ul li .depth02 {
  background-color: #fff;
  border-radius: 5px;
  color: #333;
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.5s ease;
}
header nav > ul li .depth02 li a {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
header .util-menu {
  right: 0;
  position: absolute;
  display: none;
}
header .util-menu ul {
  display: flex;
}

.video {
  width: 100%;
}