@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Noto Sans KR", "돋움", sans-serif;
}

button {
  border: none;
  padding: 15px 50px;
  font-size: 18px;
  border-radius: 100px;
  background-color: rgb(15, 187, 244);
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0), 3px 3px 0 rgb(0, 0, 0), 4px 4px 0 rgb(0, 0, 0), 5px 5px 0 rgb(0, 0, 0), 6px 6px 0 rgb(0, 0, 0), 7px 7px 0 rgb(0, 0, 0), 8px 8px 0 rgb(0, 0, 0);
  transition: all 0.25s ease;
}
button:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}