@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Noto Sans KR", "돋움", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../images/bg.jpg");
  background-size: cover;
}

.login {
  width: 340px;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 80px 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}
.login h2 {
  text-align: center;
}
.login input {
  border: none;
  padding: 15px;
  font-size: 14px;
  line-height: 1;
  margin-top: 15px;
}
.login a {
  text-align: center;
  font-size: 13px;
  margin: 20px 0;
}
.login button {
  border: none;
  border-radius: 50px;
  background-color: #0dcdfd;
  color: #fff;
  padding: 15px;
  font-weight: 700;
  font-size: 16px;
  overflow: hidden;
  text-shadow: 1px 1px 0 #02abd5,2px 2px 0 #02abd5,3px 3px 0 #02abd5,4px 4px 0 #02abd5,5px 5px 0 #02abd5,6px 6px 0 #02abd5,7px 7px 0 #02abd5,8px 8px 0 #02abd5,9px 9px 0 #02abd5,10px 10px 0 #02abd5,11px 11px 0 #02abd5,12px 12px 0 #02abd5,13px 13px 0 #02abd5,14px 14px 0 #02abd5,15px 15px 0 #02abd5,16px 16px 0 #02abd5,17px 17px 0 #02abd5,18px 18px 0 #02abd5,19px 19px 0 #02abd5,20px 20px 0 #02abd5,21px 21px 0 #02abd5,22px 22px 0 #02abd5,23px 23px 0 #02abd5,24px 24px 0 #02abd5,25px 25px 0 #02abd5,26px 26px 0 #02abd5,27px 27px 0 #02abd5,28px 28px 0 #02abd5,29px 29px 0 #02abd5,30px 30px 0 #02abd5,31px 31px 0 #02abd5,32px 32px 0 #02abd5,33px 33px 0 #02abd5,34px 34px 0 #02abd5,35px 35px 0 #02abd5,36px 36px 0 #02abd5,37px 37px 0 #02abd5,38px 38px 0 #02abd5,39px 39px 0 #02abd5,40px 40px 0 #02abd5;;
}