@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Noto Sans KR", "돋움", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined.fill {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
  background-color: #333;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 30px 20px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  width: 340px;
  align-items: center;
}
.signup h2 {
  color: #fff;
  font-size: 36px;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.signup div {
  margin: 5px 0;
  position: relative;
}
.signup div::before {
  font-family: "Material Symbols Outlined";
  content: attr(data-icon);
  font-size: 28px;
  display: block;
  color: #ffd728;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.signup div input {
  border: none;
  outline: none;
  font-size: 18px;
  padding: 15px 15px 15px 60px;
  font-weight: 600;
  background-color: #111;
  color: #fff;
  border-radius: 3px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.signup button {
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  background-color: #0dcdfd;
  color: #fff;
  padding: 15px;
  font-weight: 700;
  font-size: 15px;
  overflow: hidden;
  width: 50%;
  text-shadow: 1px 1px 0 #02abd5,2px 2px 0 #02abd5,3px 3px 0 #02abd5,4px 4px 0 #02abd5,5px 5px 0 #02abd5,6px 6px 0 #02abd5,7px 7px 0 #02abd5,8px 8px 0 #02abd5,9px 9px 0 #02abd5,10px 10px 0 #02abd5,11px 11px 0 #02abd5,12px 12px 0 #02abd5,13px 13px 0 #02abd5,14px 14px 0 #02abd5,15px 15px 0 #02abd5,16px 16px 0 #02abd5,17px 17px 0 #02abd5,18px 18px 0 #02abd5,19px 19px 0 #02abd5,20px 20px 0 #02abd5,21px 21px 0 #02abd5,22px 22px 0 #02abd5,23px 23px 0 #02abd5,24px 24px 0 #02abd5,25px 25px 0 #02abd5,26px 26px 0 #02abd5,27px 27px 0 #02abd5,28px 28px 0 #02abd5,29px 29px 0 #02abd5,30px 30px 0 #02abd5,31px 31px 0 #02abd5,32px 32px 0 #02abd5,33px 33px 0 #02abd5,34px 34px 0 #02abd5,35px 35px 0 #02abd5,36px 36px 0 #02abd5,37px 37px 0 #02abd5,38px 38px 0 #02abd5,39px 39px 0 #02abd5,40px 40px 0 #02abd5;;
  cursor: pointer;
}
.signup button:active {
  background-color: #0182a3;
  text-shadow: 1px 1px 0 #016e89,2px 2px 0 #016e89,3px 3px 0 #016e89,4px 4px 0 #016e89,5px 5px 0 #016e89,6px 6px 0 #016e89,7px 7px 0 #016e89,8px 8px 0 #016e89,9px 9px 0 #016e89,10px 10px 0 #016e89,11px 11px 0 #016e89,12px 12px 0 #016e89,13px 13px 0 #016e89,14px 14px 0 #016e89,15px 15px 0 #016e89,16px 16px 0 #016e89,17px 17px 0 #016e89,18px 18px 0 #016e89,19px 19px 0 #016e89,20px 20px 0 #016e89,21px 21px 0 #016e89,22px 22px 0 #016e89,23px 23px 0 #016e89,24px 24px 0 #016e89,25px 25px 0 #016e89,26px 26px 0 #016e89,27px 27px 0 #016e89,28px 28px 0 #016e89,29px 29px 0 #016e89,30px 30px 0 #016e89,31px 31px 0 #016e89,32px 32px 0 #016e89,33px 33px 0 #016e89,34px 34px 0 #016e89,35px 35px 0 #016e89,36px 36px 0 #016e89,37px 37px 0 #016e89,38px 38px 0 #016e89,39px 39px 0 #016e89,40px 40px 0 #016e89;;
}