body {
  font-family: "Noto Sans KR", "Nanum Brush Script", "굴림";
}
h1 {
  color: #333;
  /* font-size: 10rem; */
  /* rem은 모니터 넓이를 100으로 기준을 잡는다. */
  font-size: 24px;
  /* vw는 body를 100으로 기준을 잡는다. */
  font-weight: 900;
  /* font-family: "Nanum Brush Script"; */
  text-align: center;

  /* 웹폰트 */
}

p {
  font-size: 14px;
  width: 800px;
  text-align: justify;
  border: 1px solid #ccc;
  padding: 20px;
  line-height: 1.6;
}

.title01 {
  color: aqua;
}
.title02 {
  color: chartreuse;
}
