header {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 999;
  // background-image: url("../images/sns.png");
  // background-repeat: no-repeat;
  // background-position: 100px 0;
  // background-size: 100%;
  h1 {
    position: absolute;
    left: 0;
    a {
      display: flex;
      height: 80px;
      align-items: center;
    }
  }
  nav {
    > ul {
      display: flex;
      li {
        position: relative;
        &:hover {
          .depth02 {
            background-color: #fff;
            border-radius: 5px;
            color: #333;
            transform: translateY(0);
            opacity: 1;
            pointer-events: auto;
          }
        }
        .depth01 {
          display: flex;
          height: 80px;
          align-items: center;
          padding: 0 30px;
          font-weight: 600;
          font-size: 18px;
        }

        .depth02 {
          position: absolute;
          //display: none;
          background-color: #fff;
          border-radius: 5px;
          color: #333;
          width: 100%;
          transform: translateY(30px);
          opacity: 0;
          pointer-events: none;
          transition: all 0.5s ease;

          li {
            a {
              display: flex;
              justify-content: center;
              padding: 10px 0;
            }
          }
        }
      }
    }
  }
  .util-menu {
    height: 80px;
    right: 0;
    position: absolute;
    //display: none;
    display: flex;
    align-items: center;
    > a {
      background-color: #fff;
      border-radius: 100px;
      color: #333;
      height: 36px;
      font-size: 14px;
      font-weight: 500;
      padding: 0 20px;
      display: flex;
      align-items: center;
    }
    ul {
      display: flex;

      li {
        a {
          display: block;
          width: 36px;
          height: 36px;
          //border: 1px solid #f00;
          overflow: hidden;
          font-size: 0;
          text-indent: -1000px;
          background-image: url("../images/sns.png");
          background-size: 500%;
          transition: all 0.25s ease;
        }
        &:nth-child(1):hover a {
          background-position: 0 33.33%;
        }
        &:nth-child(1) a {
          background-position: 0 0;
        }
        &:nth-child(2) a {
          background-position: 25% 0;
        }
        &:nth-child(3) a {
          background-position: 50% 0;
        }
        &:nth-child(4) a {
          background-position: 75% 0;
        }
      }
    }
  }
}
