header {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  color: #fff;
  height: 80px;
  //border-bottom: 1px solid #fff;
  overflow: hidden;
  z-index: 999;
  transition: all 0.5s ease;
  .bottom-line {
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    height: 1px;
    background: #ccc;
  }
  &:hover {
    color: #333;
    height: 350px;
    background-color: #fff;
    .util-menu {
      li:nth-child(1) a {
        background-position: 0 33.33%;
      }
      li:nth-child(2) a {
        background-position: 25% 33.33%;
      }
      li:nth-child(3) a {
        background-position: 50% 33.33%;
      }
      li:nth-child(4) a {
        background-position: 75% 33.33%;
      }
      > a {
        background-color: #333;
        color: #fff;
      }
    }
  }
  // background-image: url("../images/sns.png");
  // background-repeat: no-repeat;
  // background-position: 100px 0;
  // background-size: 100%;
  h1 {
    position: absolute;
    left: 50px;
    a {
      display: flex;
      height: 80px;
      align-items: center;
    }
  }
  nav {
    > ul {
      display: flex;
      li {
        position: relative;
        .depth01 {
          display: flex;
          height: 80px;
          align-items: center;
          padding: 0 40px;
          font-weight: 600;
          font-size: 18px;
        }

        .depth02 {
          color: #333;
          li {
            a {
              display: flex;
              justify-content: center;
              padding: 10px 0;
            }
          }
        }
      }
    }
  }
  .util-menu {
    height: 80px;
    right: 50px;
    position: absolute;
    //display: none;
    display: flex;
    align-items: center;
    > a {
      background-color: #fff;
      border-radius: 100px;
      color: #333;
      height: 36px;
      font-size: 14px;
      font-weight: 500;
      padding: 0 20px;
      display: flex;
      align-items: center;
    }
    ul {
      display: flex;

      li {
        a {
          display: block;
          width: 36px;
          height: 36px;
          //border: 1px solid #f00;
          overflow: hidden;
          font-size: 0;
          text-indent: -1000px;
          background-image: url("../images/sns.png");
          background-size: 500%;
          transition: all 0.25s ease;
        }
        &:nth-child(1):hover a {
          background-position: 0 33.33%;
        }
        &:nth-child(1) a {
          background-position: 0 0;
        }
        &:nth-child(2) a {
          background-position: 25% 0;
        }
        &:nth-child(3) a {
          background-position: 50% 0;
        }
        &:nth-child(4) a {
          background-position: 75% 0;
        }
      }
    }
  }
}
