header {
  display: flex;
  h1 {
    position: absolute;
    left: 0;
    a {
      display: flex;
      height: 80px;
      align-items: center;
      padding: 0 20px;
    }
  }
  nav {
    ul {
      display: flex;
      a {
        display: flex;
        height: 80px;
        align-items: center;
        padding: 0 30px;
      }
    }
  }
}
